<html>
    <head>
        <link href="/assets/styles.css" rel="stylesheet"  type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>
            Welcome to EJS Express View Engine
        </h1>
        <form method="POST" action="/person">
            <label for="firstName">
                FirstName
            </label>
            <input type="text" id="firstName" name="firstName">
            <label for="lastName">
                LastName
            </label>
            <input type="text" id="lastName" name="lastName">
            <input type="submit">
        </form>
        <script>
            $.ajax({
                type:'POST',
                url : '/personJSON',
                data : JSON.stringify({
                    firstName : 'Sai Teja',
                    lastName : 'Chaduvula'
                }),
                dataType:'json',
                contentType:'application/json'
            })
        </script>
    </body>
</html>